* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

#topNavBar {
  background-color: #6f6af7;
  display: flex;
  width: 100vw;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  top: 0px;
  z-index: 10;
}
#navBarLogo {
  padding-left: 2vw;
}
#navBarLogo a {
  font-family: "Delius Unicase";
  font-size: 2.3rem;
  font-weight: 700;
}

#navBarLinks {
  display: flex;
  gap: 4rem;
  font-size: 1.5rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

#navBarLinks p.material-symbols-rounded {
  display: inline;
  align-self: center;
}

#searchField {
  background-color: white;
  height: 35%;
  width: 15%;
  /* border: 1px solid black; */
  border-radius: 2ch;
  display: flex;
  box-sizing: content-box;
  justify-content: space-between;
}
#searchField input {
  border: none;
  width: 70%;
  margin-left: 8%;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
  outline: none;
}
#searchField p.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 2;
  color: #adadad;
  font-size: 2rem;
  padding-right: 5%;
  cursor: pointer;
}

label.material-symbols-rounded {
  display: flex;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: white;
  padding-right: 2vw;
  font-size: 4rem;
  cursor: pointer;
}
.hamCheck {
  appearance: none;
}

#socialMediaContainer {
  position: sticky;
  top: 15vh;
  padding-top: 1%;
  margin-top: 20vh;
  float: right;
  height: 35vh;
  width: 6vw;
}
.logoBox {
  width: 100%;
  height: 33%;
  border: 2px solid black;
  border-radius: 16px;
  display: flex;
  margin-bottom: 1vh;
  cursor: pointer;
}

.sLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  width: 70%;
  height: 70%;
}
#main {
  /* background-color: blue; */
  margin-top: 15vh;
  padding: 5% 7%;
  height: auto;
}
#topSection {
  width: 100%;
  height: 50vh;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
}
#midSection {
  width: 100%;
  height: 29.5vh;
  /* background-color: chartreuse; */
  display: flex;
  justify-content: space-around;
}
#bottemSection {
  width: 100%;
  height: 70vh;
  /* background-color: tomato; */
  display: flex;
  justify-content: space-between;
}
#imageCode {
  height: 100%;
  width: auto;
  border-radius: 16px;
  box-shadow: 4px 7px 32px 0px #00000070;
}

#textField {
  background-color: #e4d8ff;
  height: 100%;
  width: 70%;
  margin-right: 2%;
  border-radius: 16px;
  padding: 2% 2%;
  font-weight: 400;
  font-size: 2ch;
  line-height: 3ch;
  color: rgba(0, 0, 0, 0.5);
  /* box-shadow: 4px 7px 32px 0px #00000070; */
}
.midBoxes {
  height: 60%;
  width: 20%;
  margin-top: 3%;
  border-radius: 16px;
  font-weight: 700;
  font-size: 2ch;
  line-height: 3ch;
  padding: 1% 2%;
  color: white;
  box-shadow: 4px 7px 32px 0px #00000070;
}

#totalQue {
  background-color: rgb(146, 156, 255);
}
#totalAns {
  background-color: rgb(115, 76, 242);
}
#Participated {
  background-color: rgb(210, 136, 255);
}
#Total-Passed {
  background-color: rgb(0, 0, 0);
}
#leftHalf {
  width: 40%;
  background-color: rgb(72, 62, 255);
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.userTabs {
  width: 50%;
  height: 20%;
  background-color: rgb(72, 62, 255);
  padding: 5%;
  font-weight: 700;
  font-size: 2ch;
  line-height: 1.9em;
  border: 5px solid white;
  border-radius: 16px;
  color: white;
}
#yourInfo {
  background-color: rgb(188, 224, 246);
  border: rgb(188, 224, 246);
  color: black;
  box-shadow: 4px 7px 32px 0px #00000070;
}
#rightHalf {
  width: 60%;
  background-color: rgb(72, 62, 255);
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#infoCard {
  background-color: white;
  height: 90%;
  width: 90%;
  border-radius: 16px;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
#infoCard > p {
  color: #04285a;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2.2ch;
  letter-spacing: 0.3rem;
  margin-top: 5%;
  margin-left: 5%;
  padding-bottom: 2.5%;
}
#infoCard li {
  margin-left: 5%;
  padding-top: 3%;
  padding-left: 3%;
  letter-spacing: 0.12rem;
}
.infoList {
  display: inline;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #04285a;
  letter-spacing: 0.15rem;
}
#nextButton {
  position: relative;
  top: 25%;
  left: 80%;
  margin: 2% 2%;
  border-radius: 0.5em;
  width: 15%;
  height: 10%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#supportBubble {
  position: fixed;
  top: 83vh;
  left: 85vw;
  background-color: white;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  z-index: 99;
  display: flex;
  box-shadow: 4px 7px 32px 0px #00000070;
}

#supportBubble img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  width: 70%;
  height: 70%;
}
